<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search the Book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="title">Enter title: </label>
    <input type="text" id="title" name="title"/>
    <br/>
    <input type="submit" value="Search"/>
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <p>There are no books</p>
    </div>

    <div th:each="book : ${books}">
        <p th:text="${book.title + ', ' + book.author + ', ' + book.yearOfPublishing}">Book Info</p>

        <div th:if="${book.getPerson() != null}">
            <p th:text="'This book currently with ' + ${book.person.fullName}">Person info</p>
        </div>

        <div th:if="${book.getPerson() == null}">
            <p>This book is available</p>
        </div>

        <hr/>
    </div>
</div>

</body>
</html>